<p class="fields">
<%= f.label :answer, :class => 'control-label' %>
<div class="controls">
  <%= f.text_field :answer, :class => 'text_field' %>
  <%= link_to_remove_fields "remove", f %>
</div>
</p>